#game {
  display:none
}

h3, h4 {
  display: block;
  text-align: center;
}

#player1btns {

}

#player2btns {

}

h1 {
  text-align: center;
  color: pink;
}

#player2deets {
  display: none;
}

/* #player1Total, #player2Total {
  border-width: 3px;
  border-style: dotted;
  border-color: green; */

}

.col-md-6 {
  background-color: lightblue;

}
